
<div class="book_info">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Page Count:</strong>
    <%= @book.pagecount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to @book.user.username, @book.user %>
  </p>

  <p>
    <strong>Tradable:</strong>
    <% if @book.tradeable %>
      <%= link_to "Open to sharing", new_sharing_path(:id => @book.id) %>
    <% else %>
			Not shared
    <% end %>
  </p>


  <% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-outline-primary', style: 'margin-bottom: 5px;' %>
  <% end %>
  <% if current_user %>
  
    <div id="flash_notice"></div>

    <h4> Add a comment:</h2>
    <%= form_with(model: [@book, @book.comments.build], local: false) do |form| %>

      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control', style: 'width: 50%' %>
      </p>

      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: 'form-control', style: 'width: 50%' %>
      </p>

      <p>
        <%= form.submit 'Create Comment', class: 'btn-sm btn-outline-primary' %>
      </p>

    <% end %>

  <% end %>

  <h4 style="margin-top: 5px;" align="center"> Comments </h4>
  <div class="comments"></div>
  <%= render @book.comments %>


</div>

<style>
  .comment{
    border: 1px outset lightgray;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }
  .book_info
  {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,252,252,1) 1%, rgba(120,228,252,1) 100%);
    border-color: lightgray;
    border-style: outset;
    border-width: 3px;
    padding: 10px;
    text-align: left;
    box-shadow: 5px 10px gray;
    border-radius: 10px;
    padding-left: 15px;
  }

  #flash_notice
  {
    background: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px outset green;
    border-radius: 10px;
    width: 400px;
    display: none;
    padding: 5px;
    text-align: center;
  }
  .approve_false{
    opacity: 0.4;
  }
</style>
