
<div class="book_info">


  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Page Count:</strong>
    <%= @book.pagecount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to @book.user.username, @book.user %>
  </p>

  <p>
    <strong>Tradable:</strong>
    <% if @book.tradeable %>
      Open to sharing
    <% else %>
			Not shared
    <% end %>
  </p>

  <% if current_user %>
    <h4> Add a comment:</h2>
    <%= form_with(model: [@book, @book.comments.build], local: true) do |form| %>

      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control', style: 'width: 50%' %>
      </p>

      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: 'form-control', style: 'width: 50%' %>
      </p>

      <p>
        <%= form.submit %>
      </p>

    <% end %>

  <% end %>
  <% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-outline-primary' %>
  <% end %>

  <h4 style="margin-top: 5px;" align="center"> Comments </h4>

  <% @book.comments.where(approve: true).each do |comment| %>
    <div style="border:1px outset lightgray;border-radius: 5px; background: white; margin: 10px; padding: 10px">
      <p>
        Title : 
        <%= comment.title %>
      </p>
      <p>
        Content :
        <%= comment.body %>
      </p>
      <p>
        Commenter :
        <%= comment.user.username %>
      </p>
    </div>
  <% end %>
  
</div>

<style>
  .book_info
  {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,252,252,1) 1%, rgba(120,228,252,1) 100%);
    border-color: lightgray;
    border-style: outset;
    border-width: 3px;
    padding: 10px;
    text-align: left;
    box-shadow: 5px 10px gray;
    border-radius: 10px;
  }
</style>