<%= form_with(model: @sharing, local: true) do |form| %>
   <p>
    <strong><%= link_to @sharing.user.username, @sharing.user %></strong>, <strong><%= link_to Book.find(@sharing.offer_book_id).title, Book.find(@sharing.offer_book_id) %></strong> Kitabını <strong><%= link_to @sharing.book.title, @sharing.book %></strong> Kitabına karşılık size önerdi.
  </p>

   <%= form.hidden_field :book_id, value: @sharing.book.id %>

    <%= link_to 'Approve', approve_path(:id => @sharing.id), method: :post, class: "btn btn-outline-primary" %>
    <%= link_to 'Deny', deny_path(:id => @sharing.id), method: :post, class: "btn btn-outline-danger" %>

<% end %>
